<div class="w-80vw flex items-start gap-2.5 p-4" style="height: 90vh;"> <!-- Adjusted width to occupy 90% of the screen -->
    <div class="w-full h-full bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        <img class="w-10 h-10 rounded-full"
            src="https://img.freepik.com/premium-vector/ai-technology-icon-artificial-intelligence-machine-learning-concepts-futuristic-ai-symbol_689336-880.jpg"
            alt="Jese image">
        <div class="flex flex-col gap-1">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900 dark:text-white px-10">Recommendation from Our AI Specially For
                    You based on your Inputs</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ getCurrentTime() }}</span>
            </div>
            <div
                class="flex flex-col w-full max-w-[1720px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                <input [(ngModel)]="userInput" type="text"
            class="border rounded-md px-3 py-2 focus:outline-none focus:ring-blue-500 focus:ring-2 w-full"
            placeholder="Type your message here">
        <button (click)="sendRequest()"
            class="mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Send</button>
                <p class="text-sm font-normal text-gray-900 dark:text-white px-10">{{rexp}}</p>
                <button class="mt-3 bg-cyan-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md" routerLink="/dashboard3">Next</button>
        
            </div>
            </div>
    </div>
</div>
