<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full" src="https://source.unsplash.com/500x400/featured/?diabetes" alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Diabetes</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Diabetes is a chronic condition characterized by high blood sugar levels resulting from the body's inability to produce or effectively use insulin. There are two main types: type 1, often diagnosed in childhood, occurs when the immune system attacks insulin-producing cells; type 2, typically developing in adulthood, involves insulin resistance and insufficient insulin production. Risk factors include genetics, obesity, and a sedentary lifestyle. Unmanaged diabetes can lead to serious complications such as heart disease, stroke, kidney damage, and nerve damage. Treatment focuses on lifestyle changes, medication, and insulin therapy to control blood sugar levels and prevent complications. Regular monitoring and management are crucial for maintaining health.</p>
            
            <!-- Button with arrow -->
            <a href="https://rb.gy/eljsrx" class="flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Know More
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
</section>