<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
    </a>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling" >Home</a>
        </li>
        <li>
          <a routerLink ="/knowmore" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">Know More</a>
        </li>
        <li>
          <a routerLink ="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">Contact Us</a>
        </li>
        <li>
          <a routerLink ="/aboutus" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">About Us</a>
        </li
        >          <!-- New list item for login button -->
        <li>
          <button routerLink="/login" type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-[-10] py-2.5 text-center me-2 mb-2">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="showcase" id="explore-places">
  <div class="container">
      <div class="row row1">
          <div class="img-box"><img src="/assets/diabetes.jpg" alt="Image description"></div>
          <div class="text-box">
              <h2 class="lg-heading text-black">Diabetes</h2>
              <p class="text-grey">
                Diabetes is a chronic condition characterized by high blood sugar levels resulting from the body's inability to produce or effectively use insulin. There are two main types: type 1, often diagnosed in childhood, occurs when the immune system attacks insulin-producing cells; type 2, typically developing in adulthood, involves insulin resistance and insufficient insulin production. Risk factors include genetics, obesity, and a sedentary lifestyle. Unmanaged diabetes can lead to serious complications such as heart disease, stroke, kidney damage, and nerve damage. Treatment focuses on lifestyle changes, medication, and insulin therapy to control blood sugar levels and prevent complications. Regular monitoring and management are crucial for maintaining health.</p>
          </div>
      </div>
      <div class="row row2">
          <div class="img-box"><img src="/assets/bp.jpg" alt="Image description"></div>
          <div class="text-box ">
              <h2 class="lg-heading text-black">Blood Pressure</h2>
              <p class="text-grey">
                High blood pressure (hypertension) occurs when the force of blood against artery walls consistently exceeds 130/80 mm Hg, increasing the risk of heart disease, stroke, and other complications. Causes include genetics, poor diet, lack of exercise, and stress. Symptoms may not be noticeable initially, hence it's dubbed the "silent killer." Conversely, low blood pressure (hypotension), defined as readings below 90/60 mm Hg, can cause dizziness, fainting, and fatigue due to inadequate blood flow to organs. It may result from dehydration, heart problems, or hormonal imbalances. Regular monitoring, adopting a healthy lifestyle, and seeking medical advice when needed are crucial for cardiovascular health.</p>
          </div>
      </div>
      <div class="row row1" style="margin-top: 70px;">
        <div class="img-box"><img src="/assets/asthma.jpg" alt="Image description"></div>
        <div class="text-box">
            <h2 class="lg-heading text-black">Asthma</h2>
            <p class="text-grey">Asthma is a chronic respiratory condition characterized by inflammation and narrowing of the airways, leading to symptoms like wheezing, shortness of breath, chest tightness, and coughing. Triggers include allergens, irritants, exercise, and respiratory infections. Asthma varies in severity, with some experiencing occasional flare-ups and others having persistent symptoms. Management involves avoiding triggers, using inhalers or medications to control symptoms and prevent exacerbations, and developing an asthma action plan with a healthcare provider. While asthma is incurable, proper management allows individuals to lead active lives with minimal disruption to daily activities. Regular monitoring and adherence to treatment are crucial for controlling symptoms.




            </p>

        </div>
    </div>
  </div>
</section>


<!-- flex -->
<div style="display: flex; justify-content: center; align-items: center; margin-top: -20px; height: 500px;">
<div style="display: flex; gap: 20px;">
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/dibhero.png" alt="timer" style="width: 100px; margin: 0 auto;">
    <h3 data-target="1000" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">415 M</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Diabetes</h6>
  </div>
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/bphero.jpg" alt="Coffee" style="width: 100px; margin: 0 auto;">
    <h3 data-target="2000" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">1 B</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Blood Pressure</h6>
  </div>
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/asthero.jpg" alt="night" style="width: 100px; margin: 0 auto;">
    <h3 data-target="500" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">262 M</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Asthma </h6>
  </div>
</div>
</div>


<footer class="footer">
  <div class="social-media-links ">
  <i class="fa-brands fa-facebook fa-4x"></i>
  <i class="fa-brands fa-instagram fa-4x"></i>
  <i class="fa-brands fa-twitter fa-4x"></i>
  <p>Vital Sync &copy; 2024, All rights reserved</p>
</div>
</footer>