<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
      </a>
  
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" >Home</a>
          </li>
          <li>
            <a routerLink ="/knowmore" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Know More</a>
          </li>
          <li>
            <a routerLink ="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact Us</a>
          </li>
          <li>
            <a routerLink ="/aboutus" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          </li
          >          <!-- New list item for login button -->
          <li>
            <button routerLink="/login" type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-[-10] py-2.5 text-center me-2 mb-2">Login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full" src="https://source.unsplash.com/500x400/featured/?diabetes" alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Diabetes</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Diabetes is a chronic condition characterized by high blood sugar levels resulting from the body's inability to produce or effectively use insulin. There are two main types: type 1, often diagnosed in childhood, occurs when the immune system attacks insulin-producing cells; type 2, typically developing in adulthood, involves insulin resistance and insufficient insulin production. Risk factors include genetics, obesity, and a sedentary lifestyle. Unmanaged diabetes can lead to serious complications such as heart disease, stroke, kidney damage, and nerve damage. Treatment focuses on lifestyle changes, medication, and insulin therapy to control blood sugar levels and prevent complications. Regular monitoring and management are crucial for maintaining health.</p>
            
            <!-- Button with arrow -->
            <a href="https://rb.gy/eljsrx" class="flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Know More
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <div class="mt-4 md:mt-0 order-2 md:order-1">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Blood Pressure</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                High blood pressure (hypertension) occurs when the force of blood against artery walls consistently exceeds 130/80 mm Hg, increasing the risk of heart disease, stroke, and other complications. Causes include genetics, poor diet, lack of exercise, and stress. Symptoms may not be noticeable initially, hence it's dubbed the "silent killer." Conversely, low blood pressure (hypotension), defined as readings below 90/60 mm Hg, can cause dizziness, fainting, and fatigue due to inadequate blood flow to organs. It may result from dehydration, heart problems, or hormonal imbalances. Regular monitoring, adopting a healthy lifestyle, and seeking medical advice when needed are crucial for cardiovascular health.</p>
            
            <!-- Button with arrow -->
            <a href="https://rb.gy/zo1419" class="flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Know More
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        <img class="w-full dark:hidden order-1 md:order-2" src="https://source.unsplash.com/500x400/featured/?bloodpressure" alt="dashboard image">
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full dark:hidden order-2 md:order-1" src="https://source.unsplash.com/500x400/featured/?asthama" alt="dashboard image">
        <div class="mt-4 md:mt-0 order-1 md:order-2">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Asthma</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">    
            Asthma is a chronic respiratory condition characterized by inflammation and narrowing of the airways, leading to symptoms like wheezing, shortness of breath, chest tightness, and coughing. Triggers include allergens, irritants, exercise, and respiratory infections. Asthma varies in severity, with some experiencing occasional flare-ups and others having persistent symptoms. Management involves avoiding triggers, using inhalers or medications to control symptoms and prevent exacerbations, and developing an asthma action plan with a healthcare provider. While asthma is incurable, proper management allows individuals to lead active lives with minimal disruption to daily activities. Regular monitoring and adherence to treatment are crucial for controlling symptoms.</p>
            
            <!-- Button with arrow -->
            <a href="https://rb.gy/zo1419" class="flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Know More
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
</section>





