<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
    </a>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling" >Home</a>
        </li>
        <li>
          <a routerLink ="/knowmore" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">Know More</a>
        </li>
        <li>
          <a routerLink ="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">Contact Us</a>
        </li>
        <li>
          <a routerLink ="/aboutus" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 styling">About Us</a>
        </li
        >          <!-- New list item for login button -->
        <li>
          <button routerLink="/login" type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-[-10] py-2.5 text-center me-2 mb-2">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="showcase" id="explore-places">
  <div class="container">
      <div class="row row1">
          <div class="img-box"><img src="../img/showcase-photo3.jpg" alt="Image description"></div>
          <div class="text-box">
              <h2 class="lg-heading text-black">DEGANVY,UK</h2>
              <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nemo voluptatibus, maiores quam nisi accusamus adipisci distinctio officia quos eveniet perspiciatis ea, modi eius neque ad sed accusantium. Eum, eligendi.</p>
              <a href="./about.html" class="btn btn-secondary">MORE</a>
          </div>
      </div>
      <div class="row row2">
          <div class="img-box"><img src="../img/showcase-photo1.jpg" alt="Image description"></div>
          <div class="text-box ">
              <h2 class="lg-heading text-black">DESERT,EGYPT</h2>
              <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perferendis a ullam aliquam, nisi unde ipsum magni laboriosam ut quam voluptates, quo velit numquam minima ratione saepe necessitatibus libero illum?</p>
              <a href="./about.html" class="btn btn-secondary">MORE</a>
          </div>
      </div>
      <div class="row row1" style="margin-top: 70px;">
        <div class="img-box"><img src="../img/showcase-photo3.jpg" alt="Image description"></div>
        <div class="text-box">
            <h2 class="lg-heading text-black">DEGANVY,UK</h2>
            <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nemo voluptatibus, maiores quam nisi accusamus adipisci distinctio officia quos eveniet perspiciatis ea, modi eius neque ad sed accusantium. Eum, eligendi.</p>
            <a href="./about.html" class="btn btn-secondary">MORE</a>
        </div>
    </div>
  </div>
</section>


<!-- flex -->
<div style="display: flex; justify-content: center; align-items: center; margin-top: -20px; height: 500px;">
<div style="display: flex; gap: 20px;">
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/pat.png" alt="timer" style="width: 100px; margin: 0 auto;">
    <h3 data-target="1000" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">5000</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Patients Registered</h6>
  </div>
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/doc.png" alt="Coffee" style="width: 100px; margin: 0 auto;">
    <h3 data-target="2000" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">1000</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Doctors Enrolled</h6>
  </div>
  <div style="width: 300px; text-align: center; background-color: #ffffff; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; justify-content: center;">
    <img src="/assets/city.png" alt="night" style="width: 100px; margin: 0 auto;">
    <h3 data-target="500" style="font-size: 3.5rem; font-weight: bold; margin-top: 1.5rem; margin-bottom: 0.75rem;">100</h3>
    <h6 style="font-size: 1.1rem; margin-top: 0.75rem;">Cities Serviced</h6>
  </div>
</div>
</div>
