<section class="p-4">
    <h2 class="text-2xl font-semibold mb-4">Nearest Doctors</h2>
  
    <div *ngIf="loading" class="text-center">
      <p>Loading...</p>
    </div>
  
    <div *ngIf="doctors && doctors.length > 0">
        <div *ngFor="let doctor of doctors" class="border border-gray-200 p-4 mb-4 rounded-lg">
            <h3 class="text-lg font-semibold">{{ doctor.docName }}</h3>
            <p class="text-gray-600">Speciality: {{ doctor.speciality }}</p>
            <p class="text-gray-600">City: {{ doctor.city }}</p>
            <p class="text-gray-600">State: {{ doctor.state }}</p>
            <p class="text-gray-600">Country: {{ doctor.country }}</p>
            <p class="text-gray-600">Email: {{ doctor.email }}</p>
          </div>
    </div>
  
    <div *ngIf="error" class="text-red-500 text-center">
      <p>Error fetching nearest doctors. Please try again later.</p>
    </div>
</section>

  
  
  
  





  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-white" aria-label="Sidebar">
    <div class="h-full shadow-xl dark:bg-gray-900">
      <div class="flex items-center justify-between p-4 border-b dark:border-gray-700">
        <!-- Remove the Flowbite logo and name -->
        <!-- Remove the light and dark mode button -->
      </div>
      <nav class="overflow-y-auto">
        <ul class="p-2 space-y-2 text-sm text-black">
          <li>
            <a routerLink="/dashboard3" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">User Dashboard</a>
          </li>
          <li>
            <a routerLink="/weekly" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Input</a>
          </li>
          <li>
            <a routerLink="weekupdate" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Metrics Graphs</a>
          </li>
          <li>
            <a routerLink="/nearest" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Contact Nearest Doctor</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  
  
  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <!-- Your existing content goes here -->
    </div>
  </div>
 
