<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink ="/"class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
    </a>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/login" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="p-4">
    <h2 class="text-2xl font-semibold mb-4">Nearest Doctors</h2>
  
    <div *ngIf="loading" class="text-center">
      <p>Loading...</p>
    </div>
   
    <div *ngIf="doctors && doctors.length > 0">
        <div *ngFor="let doctor of doctors" class="border border-gray-200 p-4 mb-4 rounded-lg">
            <h3 class="text-lg font-semibold">{{ doctor.docName }}</h3>
            <p class="text-gray-600">Speciality: {{ doctor.speciality }}</p>
            <p class="text-gray-600">City: {{ doctor.city }}</p>
            <p class="text-gray-600">State: {{ doctor.state }}</p>
            <p class="text-gray-600">Country: {{ doctor.country }}</p>
            <p class="text-gray-600">Email: {{ doctor.email }}</p>
          </div>
    </div>
  
    <div *ngIf="error" class="text-red-500 text-center">
      <p>Error fetching nearest doctors. Please try again later.</p>
    </div>
    <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-200" routerLink="/symptoms" >
      Schedule Appointment
    </button>
</section>

  
  
  
  





<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-white" aria-label="Sidebar">
  <nav class="h-full shadow-xl dark:bg-gray-900">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse" style="margin-top: 10px;margin-left: 20px">
      <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
    </a>
    <ul class="p-2 space-y-2 text-sm text-black" style="margin-top: 100px;">
      <li>
        <a routerLink="/dashboard3" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200 text-black">User Dashboard</a>
      </li>
      <li>
        <a routerLink="/weekly" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Input</a>
      </li>
      <li>
        <a routerLink="/weekupdate" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Metrics Graphs</a>
      </li>
      <li>
        <a routerLink="/nearest" class="block p-2 transition-colors rounded-md bg-blue-800 hover:bg-blue-800 text-white">Contact Nearest Doctor</a>
      </li>
    </ul>
  </nav>
</aside>

  
  
  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <!-- Your existing content goes here -->
    </div>
  </div>
 
