<section class="p-4 weekly-metrics-graph-section">
    <h2 class="text-2xl font-semibold mb-4">Weekly Metrics Graph</h2>
  
    <div *ngIf="weeklyMetricsList.length > 0">
      <div style="display: block;">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  
    <div *ngIf="weeklyMetricsList.length === 0">
      <p>No weekly metrics found.</p>
    </div>
</section>

<aside id="default-sidebar" class="sidebar fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-white" aria-label="Sidebar">
    <div class="h-full shadow-xl dark:bg-gray-900">
      <div class="flex items-center justify-between p-4 border-b dark:border-gray-700">
        <!-- Remove the Flowbite logo and name -->
        <!-- Remove the light and dark mode button -->
      </div>
      <nav class="overflow-y-auto">
        <ul class="p-2 space-y-2 text-sm text-black">
          <li>
            <a routerLink="/dashboard3" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">User Dashboard</a>
          </li>
          <li>
            <a routerLink="/weekly" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Input</a>
          </li>
          <li>
            <a routerLink="/weekupdate" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Weekly Data Metrics Graphs</a>
          </li>
          <li>
            <a routerLink="/nearest" class="block p-2 transition-colors rounded-md dark:hover:bg-gray-700 hover:bg-gray-200">Contact Nearest Doctor</a>
          </li>
        </ul>
      </nav>
    </div>
</aside>
