<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
      </a>
  
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
                <a routerLink="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" >Home</a>
              </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Know More</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container" style="margin-top: 120px;">
  <div class="heading">Sign Up</div>
  <form action="" class="form" id="signupForm">
      <div class="role-selection">
          <label for="role">Select your role:</label>
          <br>
          <div class="custom-dropdown" style="width: 267px;">
              <select id="role" name="role" class="input" (change)="showFields($event)">
                  <option value="User" selected>User</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lab">Lab</option>
              </select>
          </div>
      </div>
    
      <!-- User form fields -->
      <div id="userFields" [style.display]="selectedRole === 'User' ? 'block' : 'none'">
          <input required="" class="input" type="text" name="username" placeholder="Username">
          <input required="" class="input" type="text" name="firstName" placeholder="First Name">
          <input required="" class="input" type="text" name="lastName" placeholder="Last Name">
  
          
          <!-- Add radio buttons for gender selection -->
          <!-- <div>
              <label>Gender:</label>
              <label><input type="radio" name="gender" value="male"> Male</label>
              <label><input type="radio" name="gender" value="female"> Female</label>
          </div> -->
      </div>
      
      <!-- Doctor form fields -->
      <div id="doctorFields" [style.display]="selectedRole === 'Doctor' ? 'block' : 'none'">
          <input required="" class="input" type="text" name="specialization" placeholder="Specialization">
      </div>
      
      <!-- Lab form fields -->
      <div id="labFields" [style.display]="selectedRole === 'Lab' ? 'block' : 'none'">
          <input required="" class="input" type="text" name="labName" placeholder="Lab Name">
      </div>
      
      <input required="" class="input" type="email" name="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" placeholder="Password">
      <span class="forgot-password">Already Have Account? <a routerLink="/login">  Login</a></span>
      <input class="login-button" type="submit" value="Sign Up">
  </form>
</div>
