<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/logo_white.gif" class="h-20" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Vital Sync</span>
      </a>
  
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
                <a routerLink="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" >Home</a>
              </li>
          <li>
            <a routerLink="/knowmore" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Know More</a>
          </li>
          <li>
            <a routerLink="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact Us</a>
          </li>
          <li>
            <a routerLink="/aboutus" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container" style="margin-top: 320px;">
  <div class="heading">Sign Up</div>
  <form (submit)="onSubmit()" class="form" id="signupForm">
      <div class="role-selection">
          <label for="role">Select your role:</label>
          <br>
          <div class="custom-dropdown" style="width: 267px;">
              <select id="role" name="role" class="input" [(ngModel)]="selectedRole" (change)="showFields($event)">
                  <option value="User" selected>User</option>
                  <option value="Doctor">Doctor</option>
              </select>
          </div>
      </div>
    
      <!-- User form fields -->
      <div id="userFields" [style.display]="selectedRole === 'User' ? 'block' : 'none'">
          
          <input required class="input" type="text" name="fullname" placeholder="Full name" [(ngModel)]="formData.fullname">
          
          <input required class="input" type="text" name="username" placeholder="Username" [(ngModel)]="formData.username">
          <input required class="input" type="password" name="password" placeholder="Password" [(ngModel)]="formData.password">
          <input required class="input" type="text" name="phone" placeholder="Phone" [(ngModel)]="formData.phone">
          <input required class="input" type="text" name="email" placeholder="E-mail" [(ngModel)]="formData.email"> 
          <input required class="input" type="text" name="age" placeholder="Age" [(ngModel)]="formData.age">
              
          <input required="" class="input" type="text" name="country" placeholder="Country" [(ngModel)]="formData.country">
          <input required="" class="input" type="text" name="state" placeholder="State" [(ngModel)]="formData.state">
          <input required="" class="input" type="text" name="city" placeholder="City" [(ngModel)]="formData.city">

      </div>

      <p style="margin-top: 10px;">Select your gender:</p>
              <div class="radio-button-container input">
                
                <div class="radio-button">
                <input type="radio" class="radio-button__input" id="radio1" name="radio-group">
                <label class="radio-button__label" for="radio1">
                  <span class="radio-button__custom"></span>
                  Male
                </label>
              </div>
              <div class="radio-button">
                <input type="radio" class="radio-button__input" id="radio2" name="radio-group">
                <label class="radio-button__label" for="radio2">
                  <span class="radio-button__custom"></span>
                  Female
                </label>
              </div>
              
              </div>
      
      <!-- Doctor form fields -->
      <div id="doctorFields" [style.display]="selectedRole === 'Doctor' ? 'block' : 'none'">
          <input required="" class="input" type="text" name="name" placeholder="Name" [(ngModel)]="formData.name"> 
          <input required="" class="input" type="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
          <input required="" class="input" type="password" name="password" placeholder="Password" [(ngModel)]="formData.password">
          <input required="" class="input" type="text" name="specialization" placeholder="Specialization" [(ngModel)]="formData.specialization">
          <input required="" class="input" type="text" name="phone" placeholder="Phone" [(ngModel)]="formData.phone">
          <input required="" class="input" type="text" name="hospital" placeholder="Hospital/Clinic Name" [(ngModel)]="formData.hospital">
          <input required="" class="input" type="text" name="country" placeholder="Country" [(ngModel)]="formData.country">
          <input required="" class="input" type="text" name="state" placeholder="State" [(ngModel)]="formData.state">
          <input required="" class="input" type="text" name="city" placeholder="City" [(ngModel)]="formData.city">
      </div>

      
     
      

      <span class="forgot-password">Already Have Account? <a routerLink="/login">  Login</a></span>
      <input class="login-button" type="submit" value="Sign Up">

    

  </form>
</div>
